ul {
    list-style-type: none;
    padding-left: 0; /* опционально — убрать отступ */
}
html, body {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
}

button {
    font-family: 'Roboto', sans-serif;
    font-size: 18px;
}

body {
    height: 100vh;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

a {
  text-decoration: none;
  color: inherit; /* цвет ссылки станет как у родительского текста */
  background-color: transparent; /* убирает фон */
  cursor: pointer; /* сохраняет курсор руки на ссылке */
  color: red;
}
a:visited {
  color: darkred;
}
a:hover {
  color: orangered;
}

.center-block {
    width: 400px;     /* Размер квадрата (можно изменить) */
    height: 400px;
    background: #f5f5f5;
    border-radius: 14px;
    box-shadow: 0 2px 8px #bbb;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 24px;
}

.done {
    text-decoration: line-through;
    color: gray;
}
