<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Менеджер задач</title>
    <meta charset="UTF-8"/>
    <link rel="stylesheet" th:href="@{/styles.css}">
</head>
<body>
<div class="center-block">
    <h2>Ваши задачи</h2>
    <button onclick="addTodo()">Добавить задачу</button>
    <ul>
        <li th:each="todo : ${todos}">
            <input type="checkbox"
                   th:checked="${todo.completed}"
                   th:attr="data-id=${todo.id}"
                   onchange="updateStatus(this)" />
            <span th:text="${todo.title}"
                  th:classappend="${todo.completed} ? 'done'"></span>
            <a href="#" th:onclick="'deleteTodo(' + ${todo.id} + '); return false;'">x</a>
        </li>
    </ul>
</div>
<script th:src="@{/script.js}"></script>
</body>
</html>
